<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">*@
    @*<link href="~/lib/bootstrap/dist/css/bootstrap-treeview.min.css" rel="stylesheet" />*@
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="~/js/fontawesome-all.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap-treeview.css" rel="stylesheet" />

    <!-- My Style Sheet -->
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- CSS Animation Style Sheet -->
    <link href="~/css/animate.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="~/IT_CompetenceFavicon.ico" />
</head>
<body>
   
    <div class="area">
     
        <div id="feature-one" class="body-content">

            @RenderBody()
            @Html.Partial("_Footer")
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.js"></script>


    @*<script src="~/lib/bootstrap/dist/js/bootstrap-treeview.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@


    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-treeview.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

    @RenderSection("Scripts", required: false)
</body>
</html>
