
<div class="container adminCardPadding">
    <h1 class="display-2">This Browser is not supported</h1>
    <br />
    <h2 class="display-3">Please use one of the following: </h2>
    <h3 class="display-3">Chrome</h3>
    <h3 class="display-3">Firefox</h3>

</div>

