@model HomePageViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer


<div class="homePage">
    <header class="header">
        <div class="text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">@SharedLocalizer["Competence Match"]</span>
                <span class="heading-primary-sub">@Model.Tagline</span>
             </h1>       
            <a class="btn btn-raised btn-secondary btn-animated" asp-controller="Companies" asp-action="Search">@SharedLocalizer["Search Now"]</a>
        </div>

    </header>
</div>
